body{
    margin:0px;
    background:#000;
}

header {
	height: 5%;
	background-color: #fcfcfc;
	width:100%;
	padding-top: 0.5%;
	text-align: center;
}

body {
    background-color: #7FFFD4;
	padding: 0%;
}

main{	
	background-color: #fcfcfc;
	margin: 5%;
	margin-top: 5%;
	margin-bottom: 2%;
	padding: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 25px;
}

h1{
	color: #111;
	font-size: 200%;
	font-family: Courier;
}

p {
    color: #111;
	font-size: 100%;
	font-family: Courier;
	font-weight: bold;
}

select{
	color: #111;
	font-size: 100%;
	font-family: Courier;
}

input{
	color: #111;
	font-size: 100%;
	font-family: Courier;
	font-weight: bold;
}

label{
	color: #111;
	font-size: 100%;
	font-family: Courier;
}